<div class="nav">
     <ul class="links">
          <li 
          [routerLink]="['']"
          [routerLinkActive]="['active__link']"
          [routerLinkActiveOptions]="{exact: true}"
          
          class="link">
               Profile
          </li>
          <li 
          [routerLink]="['projects']"
          routerLinkActive="active__link"
          class="link">
               Projects
          </li>
          <li 
          [routerLink]="['contact']"
          routerLinkActive="active__link"
          class="link">
               Contact
          </li>
     </ul>
</div>