<div class="profile">
  <div class="profile--content">
    <div class="profile--content__img">
      <img src="../../assets/img.svg" />
    </div>
    <div class="profile--content__text">
      <h3>
        Mechanical Graduate and love to code. Adapt front-end development
        focusing on JavaScript, Angular 2+, ReactJS, also NodeJs/ExpressJS.
        Capable of continuous learning from other developers and sources. Able
        to collaborate with Team and eager to learn new things.
      </h3>
    </div>
  </div>
  <div class="tech">
    <h5 class="text">Tech I know :</h5>
    <app-tech></app-tech>
  </div>
</div>
